@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lobster&family=Montserrat:wght@700&family=Poppins:wght@700&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
p{
    color: #777777;
}
.footer-icon{
    width: 40px;
    height: 40px;
}
